@{
    ViewData["Title"] = "VNPost";
}
@using VNPost.Models.ViewModels;
@using VNPost.Models.Entity;
@model HomeVM

<link rel="stylesheet" href="~/css/main/slider.css" />
<link rel="stylesheet" href="~/css/main/gallery.css" />
<link rel="stylesheet" href="~/css/main/category.css" />
<link rel="stylesheet" href="~/css/main/service.css" />

<section id="slider">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Links.Where(l => l.LocationId == 9).Count(); i++)
            {
                <div class="carousel-item contain-img @(i == 0? "active" : "")">
                    <img tyle="width:100%;" class="d-block" src="@Model.Links[i].Value" alt="">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section id="article">
    <div class="gallery">
        <h3>Chuyên trang</h3>
        <ul class="list-group">
            @foreach (Gallery gallery in Model.Galleries)
            {
                <li class="list-group-item">
                    <a href="">
                        <img src="@gallery.ImgDescription" />
                        <div>
                            <h5>@gallery.Title</h5>
                            <p>@gallery.Description</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="list-article">
        <h3>Tin tức</h3>
        <div class="article">
            <div class="description-article">
                @if (Model.Articles.Count > 0)
                {
                    <img src="@Model.Articles[0].DescriptionImg" id="img" />
                    <h4 id="title">@Model.Articles[0].Title</h4>
                    <p id="date">@Model.Articles[0].DateCreate.ToString("MM/dd/yyyy")</p>
                    <span id="des">@Model.Articles[0].Description</span>
                }
            </div>
            <div class="link-to-articles">
                @for (int i = 0; i < Model.Articles.Count; i++)
                {
                    <div id=@("div"+i) class="link-article @(i == 0 ? "current" : "")">
                        <div>
                            <img id=@("img"+i) src="@Model.Articles[i].DescriptionImg" />
                        </div>
                        <div>
                            <a href="/Posts/Article/ArticleDetail?id=@(Model.Articles[i].Id)">
                                <h4 id=@("title"+i)>@Model.Articles[i].Title</h4>
                            </a>
                            <p id=@("date"+i)>@Model.Articles[i].DateCreate.ToString("MM/dd/yyyy")</p>
                            <input type="hidden" id=@("des"+i) value="@Model.Articles[i].Description" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<section id="category">

    @foreach (Category category in Model.Categories)
    {
        <div>
            <a href="@("/Posts/Service/List/"+category.Id)" class="category-contain"><img src="@category.Img" /></a>
            <h2>@category.Name</h2>
            <img src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/line-service.png" />
            <div>
                @foreach (Post post in Model.Posts.Where(p => p.GalleryId == category.Id))
                {
                    <a href="/Posts/Service/ServiceDetail/@(post.Id)" class="fas fa-caret-right">@post.Title</a>
                }
            </div>
        </div>
    }
</section>
<section id="service">
    <div class="library-video">
        <a>
            <h1>THƯ VIỆN VIDEO</h1>
        </a>
        <iframe class="description-video" src="@Model.Item.Value" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>@Model.Item.Key</h3>
    </div>
    <div class="library-service">
        <div>
            <h2>@Model.Location.Name.ToUpper()</h2>
            <p>
                @Model.Location.Descrtiption
            </p>
        </div>
        <div class="list-service">
            @foreach (MenuLink link in Model.Links.Where(l => l.LocationId == Model.Location.Id))
            {
                <a href="@link.Link">
                    <img src="@link.Value" />
                    <h3>@link.Key</h3>
                </a>
            }
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="~/js/main/index.js"></script>
<script>
    let i = 1;
    setInterval(function () {
        $("#img").attr("src", $("#img" + i).attr("src"));
        $("#title").text($("#title" + i).text());
        $("#date").text($("#date" + i).text());
        $("#des").text($("#des" + i).val());
        if (i == 0) {
            $("#div" + (@Model.Articles.Count-1)).toggleClass('current');
        } else {
            $("#div" + (i - 1)).toggleClass('current');
        }
        $("#div" + i).toggleClass('current');
        i++;
        if (i == @Model.Articles.Count) { i = 0; }
    }, 3000);</script>
