@{ ViewData["Title"] = "MLPost"; }
@using VNPost.Models.ViewModels;
@using VNPost.Models.Entity;
@model ArticleDetailVM;

@section Styles{
    <link rel="stylesheet" href="~/css/post/article/article.css" />
    <link rel="stylesheet" href="~/css/post/article/articleDetail.css" />
}

<section id="article" class="container pb-4">
    @await Component.InvokeAsync("Left", new { columnistItemId = Model.ColumnistItemId, columnistId = Model.ColumnistId })
    <div class="right" id="right">
        <h2>@Model.Article.Title</h2>
        <p>@Model.Article.DateCreate.ToString("MM/dd/yyyy")</p>
        <div class="content">
            @Html.Raw(Model.Article.Content)
        </div>
        <div class="info">
            <i class="fas fa-eye">Lượt xem: @Model.Article.View</i>
            <span>@Model.Article.Author</span>
        </div>
        <h1>Các tin khác</h1>
        <div class="most-new">
            <ul>
                @for (int i = 0; i < Model.Articles.Count; i++)
                {
    <li class="fas fa-angle-right">
        <a href="/Posts/Article/ArticleDetail/@(Model.Articles[i].Id)">@Model.Articles[i].Title</a>
        <span>@Model.Articles[i].DateCreate.ToString("MM/dd/yyyy")</span>
        @if (i == 0)
        {
<img src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/new-icon.png" />}
    </li>}
            </ul>
        </div>
    </div>
</section>


