@model Dictionary<string, string>
<link rel="stylesheet" href="~/css/component/header.css" />
<header>
    <div class="pre-header header-container">
        <div id="phone-number">
            <i class="fas fa-phone-alt"></i>
            <p id="phone-number-text">@Model["PhoneText"]</p>
            <p id="phone-number-num">@Model["PhoneNumber"]</p>
        </div>
        <div class="pre-header-toolbar">
            <a href="">Giới thiệu</a>
            <a href="">Hỏi đáp</a>
            <a href="">Liên hệ</a>
            <a href="">Login</a>
            <div class="language">
                <a href=""><img src="@Model["VN"]" id="flag1" alt="" /></a>
                <a href=""><img src="@Model["US"]" id="flag2" alt="" /></a>
            </div>
            <form>
                <span class="todo-button">
                    <i class="far fa-search"></i>
                </span>
                <input type="text" class="todo-input" placeholder="Tìm kiếm" />
            </form>
        </div>
    </div>
    <div class="main-header header-container">
        <a href=""><img src="@Model["Logo"]" class="logo" alt="" /></a>
        <ul>
            <li>
                <a href=""><img src="@Model["Search-price"]" alt="" /></a>
                <p>Tra cước</p>
                <span>DỊCH VỤ</span>
            </li>
            <li>
                <a href=""><img src="@Model["Mess"]" alt="" /></a>
                <p>Đánh giá &</p>
                <span>KHIẾU NẠI</span>
            </li>
            <li>
                <a href=""><img src="@Model["Recruitment"]" alt="" /></a>
                <p>Tin</p>
                <span>TUYỂN DỤNG</span>
            </li>
        </ul>
    </div>
    <div class="bottom-header">
        <div id="menu-bar-accessory">
            <p>Tra cứu - Định vị</p>
            <i class="fas fa-caret-down"></i>
        </div>
        <div class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div id="link-bar">
            <ul>
                <li><a href="">Bưu chính chuyển phát</a></li>
                <li><a href="">Tài chính bưu chính</a></li>
                <li><a href="">Phân phối - Truyền thông</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">EMAIL</a></li>
            </ul>
        </div>
    </div>
    <div id="menu-bar">
        <ul>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-map-marker-alt"></i>
                        Định Vị Bưu Gửi
                    </a>
                </div>
                <form action="">
                    <input type="text" />
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </li>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-money-bill-alt"></i>
                        Định vị chuyển tiền
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-map"></i>
                        Mạng lưới bưu cục
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-search-plus"></i>
                        Tra cứu kỳ cước KHL
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="">
                        <i class="fas fa-qrcode"></i>
                        Mã địa chỉ bưu chính
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>

<script src="~/js/component/header.js"></script>