@using VNPost.Models.ViewModels
@using VNPost.Models.Entity;
@model HeaderVM
<link rel="stylesheet" href="~/css/component/header.css" />
<div class="pre-header header-container">
    <div class="container d-flex justify-content-between">
        <div id="phone-number">
            <i class="fas fa-phone-alt"></i>
            <p id="phone-number-text">Đường dây nóng hỗ trợ</p>
            <p id="phone-number-num">1900 54 54 81</p>
        </div>
        <div class="pre-header-toolbar  d-flex justify-content-between">
            <a href="#">Liên hệ</a>
            <a href="#">Hỏi đáp</a>
            <a href="#">Giới thiệu</a>
            <a href="@(Model.IsLogedIn?"/Identity/Account/Logout":"/Identity/Account/Login")">@(Model.IsLogedIn?"Logout":"Login")</a>
            <div class="language">
                <a href=""><img src="~/image/header/vi-VN.gif" id="flag1" alt="" /></a>
                <a href=""><img src="~/image/header/en-US.gif" id="flag2" alt="" /></a>
            </div>
            <form class=" d-flex justify-content-center">
                <span class="todo-button">
                    <i class="far fa-search"></i>
                </span>
                <input type="text" class="todo-input" placeholder="Tìm kiếm" />
            </form>
        </div>
    </div>
</div>
<div class="main-header container d-flex justify-content-between">
    <a href="/"><img src="~/image/header/vnpost-logo.png" class="logo" alt="" /></a>
    <ul>
        <li>
            <a href="/Main/Price"><img src="~/image/header/search-price.png" alt="" /></a>
            <p>Tra cước</p>
            <span>DỊCH VỤ</span>
        </li>
        <li>
            <a href="#"><img src="~/image/header/mess.png" alt="" /></a>
            <p>Đánh giá &amp;</p>
            <span>KHIẾU NẠI</span>
        </li>
        <li>
            <a href="#"><img src="~/image/header/recruitment.png" alt="" /></a>
            <p>Tin</p>
            <span>TUYỂN DỤNG</span>
        </li>
    </ul>
</div>

<div class="bottom-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <div class="container-fluid">
            <div class="dropdown navbar-brand">
                <div id="menu-bar-accessory" data-bs-toggle="dropdown" aria-expanded="false">
                    <p>Tra cứu - Định vị</p>
                    <i class="fas fa-caret-down"></i>
                </div>
                <ul class="dropdown-menu" aria-labelledby="menu-bar-accessory">
                    <li><div><a class="dropdown-item" href="/Main/Search"><i class="fas fa-map-marker-alt"></i> Định Vị Bưu Gửi </a></div></li>
                    <li>
                        <form action="/Main/Search" class="d-flex">
                            <input type="text" name="id" class="form-control" required>
                            <button type="submit" class="btn btn-warning text-white"><i class="fas fa-search"></i></button>
                        </form>
                    </li>
                    <li><div><a class="dropdown-item" href="#"><i class="fas fa-money-bill-alt"></i> Định vị chuyển tiền </a></div></li>
                    <li><div><a class="dropdown-item" href="#"><i class="fas fa-map"></i> Mạng lưới bưu cục </a></div></li>
                    <li><div><a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Tra cứu hàng cấm gửi </a></div></li>
                    <li><div><a class="dropdown-item" href="#"><i class="fas fa-search-plus"></i> Tra cứu kỳ cước KHL </a></div></li>
                    <li><div><a class="dropdown-item" href="#"><i class="fas fa-qrcode"></i> Mã địa chỉ bưu chính </a></div></li>
                </ul>
            </div>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    @foreach (Menu menu in Model.Menus)
                    {
                        <li class="nav-item">
                            <a href="@menu.Link">@menu.Value</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a href="/Admin/Home/Index">@Model.Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
