@using VNPost.Models.ViewModels
@using VNPost.Models.Entity;
@model HeaderVM
<link rel="stylesheet" href="~/css/component/header.css" />
<div class="pre-header header-container">
    <div id="phone-number">
        <i class="fas fa-phone-alt"></i>
        <p id="phone-number-text">@Model.ListMenuItem["PhoneText"]</p>
        <p id="phone-number-num">@Model.ListMenuItem["PhoneNumber"]</p>
    </div>
    <div class="pre-header-toolbar">
        @foreach (MenuLink linkItem in Model.ListMenuLink[1])
        {
            <a href="@linkItem.Link">@linkItem.Value</a>
        }
        <a href="@(Model.IsLogedIn?"/Identity/Account/Logout":"/Identity/Account/Login")">@(Model.IsLogedIn?"Logout":"Login")</a>
        <div class="language">
            <a href=""><img src="@Model.ListMenuItem["VN"]" id="flag1" alt="" /></a>
            <a href=""><img src="@Model.ListMenuItem["US"]" id="flag2" alt="" /></a>
        </div>
        <form>
            <span class="todo-button">
                <i class="far fa-search"></i>
            </span>
            <input type="text" class="todo-input" placeholder="Tìm kiếm" />
        </form>
    </div>
</div>
<div class="main-header header-container">
    <a href="/"><img src="@Model.ListMenuItem["Logo"]" class="logo" alt="" /></a>
    <ul>
        @foreach (MenuLink linkItem in Model.ListMenuLink[2])
        {
            <li>
                <a href="@linkItem.Link"><img src="@Model.ListMenuItem[linkItem.Key]" alt="" /></a>
                @Html.Raw(@linkItem.Value.ToString())
            </li>
        }
    </ul>
</div>
<div class="bottom-header">
    <div id="menu-bar-accessory">
        <p>Tra cứu - Định vị</p>
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
    </div>
    <div id="link-bar">
        <ul>
            @foreach (MenuLink linkItem in Model.ListMenuLink[4])
            {
                <li>
                    <a href="@linkItem.Link">@linkItem.Value</a>
                </li>
            }
        </ul>
    </div>
</div>
<div id="menu-bar">
    <ul>
        @for (int i = 0; i < Model.ListMenuLink[3].Count; i++)
        {
            if (i == 0)
            {
                <li>
                    <div>
                        <a href="@Model.ListMenuLink[3][i].Link">
                            <i class="@Model.ListMenuLink[3][i].Key"></i>
                            @Model.ListMenuLink[3][i].Value
                        </a>
                    </div>
                    <form action="">
                        <input type="text" />
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li>
                    <div>
                        <a href="@Model.ListMenuLink[3][i].Link">
                            <i class="@Model.ListMenuLink[3][i].Key"></i>
                            @Model.ListMenuLink[3][i].Value
                        </a>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/component/header.js"></script>