@using VNPost.Models.ViewModels;
@using VNPost.Models.Entity;
@model FooterVM
<link rel="stylesheet" href="~/css/component/footer.css" />
<div class="footer-top">
    @for (int i = 0; i < 3; i++)
    {
        <div>
            <p>@Model.Locations[i].Name</p>
            <ul>
                @foreach (MenuLink link in Model.ListMenuLink[Model.Locations[i]])
                {
                    <li class="fas fa-caret-right"><a href="@link.Link">@link.Value</a></li>
                }
            </ul>
        </div>
    }
</div>
<div class="footer-bottom">
    <div>
        <h4>@Model.ListMenuItem["Company"]</h4>
        <p>@Model.ListMenuItem["Location"]</p>
        <p>@Model.ListMenuItem["Policy"]</p>
    </div>
    <div>
        <ul>
            @foreach (MenuLink link in Model.ListMenuLink[Model.Locations[3]])
            {
                <li><a href="@link.Link"><i class="@link.Value"></i></a></li>
            }
        </ul>
    </div>
</div>
<a href="" class="contact">
    <i class="fas fa-comment-dots"></i>
    <p>Hỗ trợ trực tuyến</p>
</a>