@{ ViewData["Title"] = "MLPost"; }

@using VNPost.Models.ViewModels;
@using VNPost.Models.Entity;
@model ListSerivceVM;
@section Styles{
    <link rel="stylesheet" href="~/css/post/service/list.css" />
}

<section id="list-service" class="container py-5">
    <h1>@Model.Category.Name.ToUpper()</h1>
    <img src="http://www.vnpost.vn/Portals/_default/Skins/VNPost.Skins.FrontEnd/img/p-border.png" alt="none">
    <article>
        @foreach (Service post in Model.Services)
        {
<a href="/Posts/Service/ServiceDetail/@(post.Id)">
    <img src="@post.DescriptionImg" />
    <div>
        <h2>@post.Title</h2>
        <p>@post.Description</p>
    </div>
</a>}
    </article>
    <div>
        @for (int i = Model.Begin; i <= Model.End; i++)
        {
<a href="/Posts/Service/List/+@(Model.Category.Id+"?index="+i)" class="@(i==Model.Index?"current-page":"")">@i</a>}
    </div>
</section>